<div class="card animate__animated animate__fadeIn animate__delay-1s">
  <img [src]="imgPath" class="card-img-top center-img" alt="product image">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <h4 class="product-price">{{ formattedPrice }}</h4>
      <div class="text-center"><a class="btn btn-outline-secondary m-3" href="#">Add to cart</a></div>
      <p class="card-text">
        <small class="text-muted">categories: {{ item.categories.join(', ') }}</small>
      </p>
    </div>
  </div>
  